<div class="form-signin center">
    <div class="p-fluid">
        <div class="p-field p-col-12 p-mb-5 center">
            <img [src]="logo" alt="" width="34%">
        </div>
        <div class="p-white p-col-12 center p-mb-3">
            <label>Registre-se em ControlMoney</label>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="ususairo" type="text" pInputText>
                <label for="ususairo">Nome Completo</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="email" type="text" pInputText>
                <label for="email">E-mail</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="celular" type="text" pInputText>
                <label for="celular">Celular</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="password" type="password" pInputText>
                <label for="password">Senha</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="password-confirm" type="password" pInputText>
                <label for="password-confirm">Confirmar Senha</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <button pButton type="button" label="Registrar" (click)="registrar()"></button>
        </div>
        <div class="p-field p-col-12 p-mb-2">
            <p-button label="Fazer login" styleClass="p-button-link" [routerLink]="['/authentication/login']"></p-button>
        </div>
    </div>
</div>